[package]
name = "clockpro-cache"
description = "CLOCK-Pro cache replacement policy"
version = "0.1.7"
homepage = "https://github.com/jedisct1/rust-clockpro-cache"
keywords = ["cache"]
license = "MIT"
authors = ["Frank Denis <github@pureftpd.org>"]
categories = ["algorithms", "caching"]
edition = "2018"

[badges]
travis-ci = { repository = "jedisct1/rust-clockpro-cache" }
appveyor = { repository = "jedisct1/rust-clockpro-cache" }

[dependencies]
slab = "0.4"
bitflags = "1.0"
unsafe_unwrap = "0.1"

[dev-dependencies]
rand = "0.6"

